<div id="promos">

  <div class="slideshow-container">

    <div class="mySlides">
      <img src="/images/car-1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <img src="/images/car-2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <img src="/images/car-3.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="dot-position">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
  <img id="frame-setup2" src="/images/carousel-set-up-bottom.png" alt="frame-setup2" />
</div>

<div class="container">
   <table>
    <tr>
      <th class="text-inicio">
        <img src="/images/services-green.png">
      </th>
      <th>
        <h1>Servicios - Por Vencer</h1>
      </th>
      <th>
        <div id="btn-servicios-usuario">
          <a href="/usuario/maintable/2">
            <img src="/images/btn-servicios.png">
          </a>
        </div>
      </th>
    </tr>
    </table>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Id servicio</th>
          <th scope="col">Fecha a vencer</th>


        </tr>
      </thead>

      {{#each mainTable}}

      <tr class="col fila-{{id}}">
        <td contenteditable="true" class="nombre">{{UsuarioId}}</td>
        <td contenteditable="true" class="correo">{{ServicioId}}</td>
        <td contenteditable="true" class="telefono">{{fechaFinal}}</td>
      </tr>
      {{/each}}

    </table>
</div>

